<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Scotbank - Logout</title>
</head>
<body>
<h1>Scot Bank</h1>
<form id="formlogout" action="" autocomplete="off" method="post" style="width:auto">
  <fieldset>
    <legend>Logout</legend>
    <br>
      <button name="logout" type="submit" value="logout" formaction="/bank/logout">Logout</button>
      <button name="back" type="submit" value="back" formaction="/bank">Back</button>
    <br><br>
  </fieldset>
</form>
</body>
</html>